@font-face {
  font-family: 'PacFont';
  src: url('../../assets/fonts/PacFont.woff2') format('woff2'),
      url('../../assets/fonts/PacFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Press Start';
  src: url('../../assets/fonts/PressStart2P-Regular.woff2') format('woff2'),
      url('../../assets/fonts/PressStart2P-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start', sans-serif;
  color: #f6eb14;
  background-color: black;
}

@keyframes pulsation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
